<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
  <title>CLIPS</title>
</head>

{{> header}}

<body>
  <h1>LOGIN</h1>

  <form action="/login" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required>

    <input type="submit" value="Submit">
  </form>

</body>

</html>
